// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// Colors
$color-primary-purple: hsl(259, 100%, 65%);
$color-primary-light-red: hsl(0, 100%, 67%);

$color-neutral-white: hsl(0, 0%, 100%);
$color-neutral-off-white: hsl(0, 0%, 94%);
$color-neutral-light-grey: hsl(0, 0%, 86%);
$color-neutral-smokey-grey: hsl(0, 1%, 44%);
$color-neutral-off-black: hsl(0, 0%, 8%);

// Typography
$font-family-primary: 'Poppins', sans-serif;
$font-size-inputs: 32px;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-italic-bold: 800;